* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.header-form {
    display: flex;
}

.button-site {
    background-color: #f16d7f;
    border: 1px solid transparent;
    margin-left: 45px;
}

.button-site:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}



.my-acc {
    color: #ffffff;
    position: relative;
    text-align: center;
    width: 130px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.my-acc:before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    right: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #fafafa transparent transparent transparent;
}

.button-site:hover .my-acc:before {
    border-color: #f16d7f transparent transparent transparent;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner {
    height: 613px;
    background-color: #e8e8e8;
}

.banner-block {
    height: 100%;
    background: url(img/banner.jpg) 0 -51px;
}

.the-brand {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
}

.text-fashion {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;

}

.banner-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    float: left;
    padding-left: 12px;
}

.span-fashion {
    color: #f16d7f;
}

.item {
    position: relative;
    width: 263px;
    margin-bottom: 40px;
}

.item:hover .box-add {
    display: flex;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product-img {
    width: 100%;
}

.item:hover .product-img {
    filter: brightness(50%);
}

.product {
    width: 263px;
    display: block;
    text-decoration: none;
}

.box-product {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-text-box {
    padding: 20px 15px;
}

.product-text {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.box-add {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 100%;
}

.add {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.add:hover {
    box-shadow: 0 0 10px #fff;
}

.add-img {
    margin-right: 7px;
}

.container-news {
    width: 1140px;
    margin: 0 auto;
}

.news-box {
    width: 100%;
    height: 823px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.cont-news-right,
.cont-news-left {
    display: flex;
    flex-direction: column;
    width: 560px;
    justify-content: space-between;
}

.cont-news-right a,
.cont-news-left a {
    display: block;
    position: relative;
    background-color: #dadad2;
}

.news-forman,
.for-kids {
    width: 560px;
    height: 542px;
    transition: all .5s;
}

.woman,
.accesories {
    width: 560px;
    height: 261px;
    transition: all .5s;
}

.accesories img {
    float: right;
}

.news-txt {
    position: absolute;
    padding: 16px 18px;
    top: 26px;
    z-index: 1;
    background-color: white;
    transition: background-color .5s;
}

.news-txt {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.news-txt h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    transition: color .5s;
}

.items-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.items-txt p {
    color: #9f9f9f;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-top: 16px;
}

.bap {
    display: flex;
    justify-content: center;
}

.baptxt {
    display: flex;
    margin-bottom: 113px;
}

.baptxt i {
    margin-left: 9px;
}

.baplink {
    background-color: #f16d7f;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    display: flex;
    padding: 23px 18px;
    border: transparent 1px solid;
}

.baplink:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.bran {
    margin-left: 9px;
    margin-top: 13px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
}

.logo {
    text-decoration: none;
}

.d {
    margin-right: 37px;
    margin-top: 13px;
    font-family: 'Lato', sans-serif;
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    text-align: center;
}

.form-search {
    padding-left: 18px;
    margin-top: 13px;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 277px;
    height: 38px;
}

.header-form button {
    margin-top: 13px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 40px;
    height: 38px;
}

.browse-menu {
    margin-top: 13px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    margin-left: 35px;

}

.browse_down {
    position: relative;
    display: flex;
    z-index: 10000;
}

.browse-hade {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e8e8e8;
}

.browse-hade:hover {
    background-color: #ffffff;

}

.browse_down:hover .browse-hade {
    display: block;
}

.browse_down:hover .browse-menu {
    background-color: #ffffff;
}

.browse-hade h3 {
    color: #232323;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    border-bottom: 1px solid #e8e8e8;
}

.browse-hade li {
    color: #4f4f4f;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

    text-align: right;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.browse-hade:hover {
    color: #f16d7f;
}

.browse-menu li {
    display: flex;
    position: relative;
    margin-top: 9px;
    list-style: none;
}

.browse-menu a {
    font-family: 'Lato', sans-serif;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    margin-left: 13px;
    text-decoration: none;
}

.card-hade {
    position: relative;
    display: flex;
    z-index: 10000;
    flex-direction: column;
}

.card-all {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    margin-top: 33px;
    margin-right: 179px;
}

.fas {
    display: none;
    width: 15px;
    height: 15px;
    color: #c0c0c0;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
}

.fas:hover {
    filter: opacity(50%);
}

.pink_effect:hover {
    color: #f16d7f;
}

.card-all:hover {
    background-color: #ffffff;
}

.card-hade:hover .card-all {
    display: flex;
    flex-direction: column;
}

.red {
    color: #222222;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}


.cost {
    color: #f16d7f;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.total {
    width: 228px;
    height: 16px;
    color: #222222;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 20px;
}

.buttoms {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}

.checkout {
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #f16d7f;
    width: 225px;
    height: 50px;
    text-align: center;
    margin: 11px;

}

.checkout:hover {
    background-color: #f16d7f;
    color: #fff;
    border: 1px solid #f16d7f;
}

.go {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    width: 225px;
    height: 50px;
    text-align: center;
    margin: 20px;
}

.go:hover {
    border: 1px solid #eaeaea;
    background-color: #4a4a4a;
    ;
    color: #ffffff;
}

.bannerblack {
    height: 550px;
}

.conteinerbb {
    display: flex;
    margin: 0 auto;
    background-color: #222224;
    width: 1140px;
    height: 529px;
}

.bb-left {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.bbtxt {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding-left: 39px;
    padding-bottom: 190px;
    width: 293px;
    height: 78px;
}

.bbtxt h1 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
}

.bbtxt span {
    font-family: 'Lato', sans-serif;
    color: #f16d7f;
    font-size: 53.62px;
    font-weight: 700;
    text-transform: uppercase;
}

.bbtxt p {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 32.17px;
    font-weight: 700;
    text-transform: uppercase;
}

.bb-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding-left: 37px;
    padding-bottom: 70px;
    width: 105px;
    height: 100%;
}

.bb-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-bottom: 12px;
    padding-top: 10px;
    width: 259px;
    height: 100%;
}

.bb-right h3 {
    font-family: 'Lato', sans-serif;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
}

.bb-right p {
    font-family: 'Lato', sans-serif;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.comunity {
    margin-top: 95px;
    height: 438px;
    display: flex;
    justify-content: center;
    position: relative;
}

.comunity-conteiner {
    width: 1140px;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
}

.com-left {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}

.com-left img {
    height: 83px;
}

.com-lefttxt {
    width: 386px;
    height: 68px;
    color: #222224;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-left: 28px;
    padding-top: 12px;
}

.com-lefttxts {
    position: absolute;
    top: 210px;
    left: 113px;
    color: #222224;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.com-lefttxts b {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.4px;
    line-height: 26px;
}

.com-center {
    height: 100%;
    width: 1px;
    background-color: white;
}

.com-rightform input {
    width: 310px;
    height: 45px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #e1e1e1;
    border: transparent 1px solid;
    padding-left: 18px;
    color: #222224;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    box-sizing: border-box;
    border-right-width: 0;
}

.com-rightform button {
    width: 105px;
    height: 45px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.35px;
    box-sizing: border-box;
    border: #f16d7f 1px solid;
    border-left-width: 0;
    margin-left: -3px;
}

.com-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.com-righttxt {
    display: flex;
    width: 370px;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
    color: #222224;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}

.com-righttxt span {
    color: #222224;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    line-height: 24px;
}

.com-rightform input:focus,
button:focus {
    outline: none;
}

.com-rightform button:active {
    background-color: white;
    color: #f16d7f;
}

.container-footerwrap {
    width: 100%;
    height: 458px;
}

.container-foote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    height: 100%;
}

.footer-logotext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 427px;
    margin-top: 18px;
}

.futer-naverap {
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.footer-logo {
    display: flex;
    width: 100%;
    height: 51px;
}

.footer-logotext p {
    margin-left: 12px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
}

.footer-logotext span {
    margin-right: 37px;
    margin-top: 13px;
    font-family: 'Lato', sans-serif;
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    text-align: center;
}

.footer-objec p {
    font-family: 'Lato', sans-serif;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    text-transform: none;
    padding-top: 13px;
    margin-left: 0;
}

.futer-naverap {
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.footer-company {
    margin-left: 6px;
}

.footer-information {
    margin-left: 39px;
}

.container-foote h3 {
    font-family: 'Lato', sans-serif;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 85px;
    text-transform: uppercase;
}

.container-foote ul {
    padding-bottom: 25px;
}

.container-foote li,
a {
    list-style: none;
    font-family: 'Lato', sans-serif;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
}

.container-foote a:hover {
    color: #f16d7f;
}

.footer {
    background-color: #e6e6e6;
    width: 100%;
    height: 79px;
}

.footer-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    height: 100%;
}

.footer-soc {
    display: flex;
    justify-content: space-between;
    width: 191px;
}

.footer-soc i {
    color: #ffffff;
    font-size: 32px;
}

.copy p {
    font-family: 'Lato', sans-serif;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
}

.footer-soc a:hover i {
    color: #f16d7f;
}

.menu li {
    position: relative;
    list-style-type: none;
}

.menu-link-box {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    top: 70px;
    padding: 20px;
}

.menu-link-box-list {
    background-color: #ffffff;
    margin-right: 40px;
}

.menu-link-box-list:last-of-type {
    margin-right: 0;
}

.menu-link-box-list h3 {
    border-bottom: 1px solid #e8e8e8;
    text-transform: uppercase;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    margin-bottom: 8px;
    letter-spacing: 0.35px;
    width: 235px;
}

.menu-link-box-list ul {
    width: 100%;
}

.menu-link-box-list a {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
}

.menu-link-box-list a:hover {
    color: #f16d7f;
}

.menu-box-list-unit {
    margin-top: 22px;
}

.menu-box-list-unit-img {
    position: relative;
    margin-top: 15px;
    margin-left: -20px;
}

.menu-box-unittxt {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.55px;

}

.menu-img-box {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.pic-box {
    height: 128px;
}

.ssale-link {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .5s;
}

.menu-link-box:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    transform: rotate(45deg);
    top: -5px;
    left: 40px;
    border-top: #e8e8e8 1px solid;
    border-left: #e8e8e8 1px solid;
}


.menu-list-li:hover {
    color: #f16d7f;
}

.menu li:hover .menu-link-box {
    display: flex;
}

.menu-link:hover {
    color: #f16d7f;
}

.last:hover .menu-link-box {
    display: flex;
    right: 0;
}

.last:hover .menu-link-box:before {
    top: -5px;
    right: 55px;
    left: auto;
}

.last:hover .menu-box-unittxt p {
    animation: saleAnim .5s linear 0s infinite normal;
}

.menu li:hover .menu-box-unittxt p {
    animation: saleAnim .5s linear 0s infinite normal;
}

.my-acc,
.baplink {
    transition: color .5s, background-color .5s;
}

.ssale-link:hover p {
    color: #f16d7f;
    transform: scale(1.25);
    transition: .5s;
}

.new_arrivals {
    width: 100%;
    height: 148px;
    background-color: #f8f3f4;
    display: flex;
    justify-content: space-between;
}

.new_arrivals_text {
    color: #f16d7f;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: uppercase;
    line-height: normal;
    padding-left: 234px;
    padding-top: 65px;

}

.bread {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 234px;
    padding-top: 69px;

}

.breadcrumb-item_pink {
    font-family: "Lato";
    color: #f16d7f;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    transition: all 0.5s;
}

.breadcrumb-item {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #636363;
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    transition: all 0.5s;
}

.breadcrumb-item:hover {
    color: #f16d7f
}

.breadcrumb-item_pink:hover {
    color: #636363;
}

.main_img {
    height: 777px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;



}

.girl {
    padding: 11px;

}

.left-button {
    width: 47px;
    height: 47px;
    background-color: #2a2a2a;
    border: 1px solid transparent;
    margin-top: 365px;
    margin-left: 4px;

}

.rigth-button {
    width: 47px;
    height: 47px;
    background-color: #2a2a2a;
    border: 1px solid transparent;
    margin-top: 365px;
    margin-right: 4px;
}

.left-button:hover {
    filter: brightness(150%)
}

.rigth-button:hover {
    filter: brightness(150%)
}

.info-conteiner {
    margin: 0 auto;



}

.info {
    width: 1141px;
    height: 730px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: -60px;
    margin-left: 229px;


}

.collection {
    color: #f16d7f;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 73px;

}

.carousel-indicators {
    width: 147px;
    height: 1px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-left: 497px;
}

.active {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    border: 1px solid transparent;
    margin-left: 42px;
}

.chic {
    color: #4d4d4d;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 17px 444px;
}

.info p {

    color: #5e5e5e;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 67px;
    margin-left: 262px;
    margin-right: 261px;
}

.material {
    display: flex;
    margin-top: 67px;
    margin-left: 262px;
    align-items: center;
    justify-content: space-between;
    margin-left: 404px;
    margin-right: 605px;
    margin-top: 28px;
}

.material_ligth {
    color: #b9b9b9;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding-left: 44px;

}

.material_dark {
    font-family: "Lato";
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
}

.price {
    width: 642px;
    color: #ef5b70;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 37px;
    margin-left: 280px;
    border-bottom: 1px solid #eaeaea;
}

.choice {
    width: 537px;
    display: flex;
    color: #2f2f2f;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    justify-content: space-between;
    margin-left: 303px;
    margin-top: 63px;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 537px;
    margin-left: 303px;
}

.form-select__3 {
    appearance: none;
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #bcbcbc;
    font-family: "Lato";
    padding-left: 15px;
}

.form-select__2 {
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #bcbcbc;
    font-family: "Lato";
    padding-left: 15px;

}

.form-select__1 {
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    background: url('img/Rectangle_30.jpg') no-repeat left;
    color: #bcbcbc;
    font-family: "Lato";
    padding-left: 15px;
}

.add-to {
    width: 537px;
    height: 55px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-left: 303px;
}

.add-to:hover {
    border: 1px solid transparent;
    background-color: #ef5b70;
    color: #ffffff;
}

.add-to-card {
    color: #ef5b70;
    font-family: "Lato";
    font-size: 16px;
    text-align: center;
}


.pink_card {
    width: 26px;
    height: 24px;
    padding-left: 207px;
}

.also {
    color: #4d4d4d;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 119px;
}

.goods-conteiner {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.goods {
    display: flex;
    flex-direction: row;
    width: 263px;
    height: 364px;
    background-color: #ffffff;
}

.goods:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    filter: brightness(50%);

}

.girl_45 {
    margin-top: -11px;
}

.blaze {
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.form-conteiner {
    margin: 0 auto;
    width: 1618px;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 265px;
    padding-bottom: 79px;


}

.headline {
    color: #222222;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    margin-left: 230px;
    margin-top: 89px;
}

.left-form {
    width: 246px;

}

.forms-check-input:checked {
    width: 14px;
    height: 14px;
    border: 2px solid #555555;
    background-color: #ffffff;

}

.forms-check-label {
    color: #222222;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
}

.left-form p {
    width: 221px;
    height: 12px;
    color: #b3b2b2;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    padding-bottom: 34px;
}

.left-form h3 {
    color: #222222;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin-top: 39px;
    padding-bottom: 15px;
}

.arrow_p {
    display: -webkit-inline-box;
}

.left-form h4 {
    color: #222222;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    padding-top: 33px;
    padding-bottom: 15px;
}


.continue {
    width: 180px;
    height: 50px;
    color: #4a4a4a;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 38px;
    text-align: center;
}

.continue:hover {
    color: #ffffff;
    background-color: #4a4a4a;
    border: 1px solid transparent;
}

.rigth-forms {
    padding-left: 349px;
    width: 246px;
}

.rigth-forms h3 {
    color: #222222;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.text-grey {
    color: #b3b2b2;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    padding-bottom: 27px;

}

.form-label {
    color: #222222;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 16px;

}

.form-control {
    width: 390px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 23px;
}

.star-text {
    color: #ff0d0d;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    padding-top: 22px;
}

.btn {
    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 32px;

}

.btn:hover {
    border: 1px solid transparent;
    background-color: #4a4a4a;
    color: #ffffff;
}

.forgot {
    color: #222222;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
}

.lazy-text {
    color: #222222;
    width: 1640px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 230px;
    border-bottom: 1px solid #e8e8e8;
}

.header_cart {
    display: flex;
    width: 1137px;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: 230px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;

}

.header_text {
    color: #222222;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    width: 500px;
}

.header_cart__text {
    color: #222222;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.product-browse {
    display: flex;
    width: 1137px;
    margin-top: 22px;
    margin-left: 230px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 25px;


}

.product-card {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.mango {
    color: #222222;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-left: 100px;

}

.size {
    width: 64px;
    height: 31px;
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    float: right;


}

.img-product {
    float: left;
    width: 100px;
    height: 115px;
}

.rigth-product {
    display: flex;
    padding-left: 66px;


}

.rigth-product p {
    color: #656565;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;

}

.quantity {
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;

    margin-left: 106px;
}

.product-cost {
    margin-left: 77px;
}

.summary {
    margin-left: 97px;
    margin-right: 110px;
}

.button_cart {
    display: flex;
    justify-content: space-around;
    margin-top: 44px;
}

.clear {
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.clear:hover {
    background-color: #4a4a4a;
    color: #ffffff;
    border: 1px solid transparent;
}

.shopping {
    width: 225px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.shopping:hover {
    background-color: #4a4a4a;
    color: #ffffff;
    border: 1px solid transparent;
}

.conteiner-form {
    max-width: 1140px;
    margin: 0 auto;
}

.all-form {
    margin-top: 63px;
    display: flex;
    justify-content: space-around;
}

.conteiner-form h2 {
    color: #222222;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.form-select {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b1b1b1;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 22px;
}

.form-select:active {
    border: 1px solid #eaeaea;
}

.form-control {
    color: #b1b1b1;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.get-button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: "Lato";
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 23px;
}

.get-button:hover {
    border: 1px solid transparent;
    background-color: #4a4a4a;
    color: #ffffff;
}

.center-form {
    margin-left: 132px;
}

.center-form p {
    color: #000000;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.apply-button {
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: "Lato";
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.apply-button:hover {
    border: 1px solid transparent;
    background-color: #4a4a4a;
    color: #ffffff;
}

.rigth-form {
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 214px;
    padding: 0;
    margin-left: 24px;
    justify-content: space-between;


}

.rigth-form p {
    color: #4a4a4a;
    font-family: "Lato";
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    padding-left: 218px;
    padding-top: 40px;

}

.conteiner-total {
    display: flex;
    padding-left: 153px;
    align-content: space-around;

}

.grand-total {
    color: #222222;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.total-price {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    color: #f16d7f;

}

.proceed {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 43px;
    border: 1px solid #f16d7f;
}

.proceed:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid transparent;
}

.product-menu {
    display: flex;
    margin-top: 59px;
    max-width: 1610px;
    justify-content: space-between;
    margin: 0 auto;

}

.left-menu {
    display: flex;
    flex-direction: column;
    width: 243px;
    margin-left: 230px;
    position: relative;
}


/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide+label~div {
    display: none;


}

/* вид текста label */
.hide+label,
.hide:checked+label {
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
    border-left: 4px solid #ef5b70;
    height: 37px;
    padding-left: 11px;
    padding-top: 12px;
}

/* вид текста label при активном переключателе */
.hide:checked+label {
    color: #ef5b70;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;


}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked+label+div {
    display: block;
    background: #ffffff;
    width: 243px;
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 33px;
    text-align: left;
    position: absolute;
    margin-top: 37px;
    border-bottom: 1px solid transparent;
    z-index: 10000;
    padding-left: 17px;
}

.menu-list-product:hover {
    color: #ef5b70
}

.menu-top {
    display: flex;
    justify-content: space-between;
}

.trend {
    display: flex;
    flex-wrap: wrap;
    width: 176px;
    height: 80px;
    padding-top: 14px;
    margin-left: 50px;
}

.trend li {
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    display: inline;
}

.trending {
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.size-button {
    display: flex;
    flex-wrap: wrap;
    width: 207px;
    height: 74px;
    padding-top: 15px;
}

.form-check {
    display: inline;

}

.form-check-input {
    width: 13px;
    height: 13px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding-right: 9px;
}

.form-check-label {
    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    padding-right: 9px;

}

.fas:checked {
    transform: rotate(-45deg);
    color: #ef5b70
}


.range {
    margin-left: 50px;
    width: 262px;
    height: 73px;
    padding-top: 15px;
}

.form-range {
    width: 262px;
    height: 6px;
    border-radius: 3px;
    background-color: #f0f0f0;
    color: #f16d7f;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #f16d7f;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.range p {
    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.range-p {
    display: flex;
    justify-content: space-between;
}

.col-md-4 {

    height: 30px;
    background-color: #ffffff;
    margin-left: 9px;
    margin-top: 10px;
}

.view-conteiner {
    margin: 0 auto;
}

.filter {
    width: 846px;
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    margin-left: 522px;
    flex-direction: row;
}

.input-grouphas-validation {
    width: 119px;
    height: 30px;
    background-color: #ffffff;
    display: inline;
    margin-left: 9px;
    margin-top: 10px;
}

.input-group-text {
    width: 67px;
    height: 30px;
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.form-select-is-invalid {
    width: 85px;
    height: 30px;
    color: #6f6e6e;
    font-family: " Lato";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    border: none;

}

.conteiner-goods {
    margin-left: 522px;
    margin-top: 48px;
    max-width: 846px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.goods-product {
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 364px;
    background-color: #ffffff;
}

.goods-product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    filter: brightness(50%);
}

.conteiner-nav {
    margin: 0 auto;
    margin-left: 522px;
    display: flex;
    justify-content: space-around;
}

.pagination {
    display: flex;
    width: 261px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}

.page-item {
    color: #c4c4c4;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    list-style-type: none;
}

.page-link {
    color: #c4c4c4;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
}

.view-all {
    width: 150px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
}

.view-all:hover {
    border: 1px solid transparent;
    background-color: #ef5b70;
    color: #ffffff;
}

.baner-black {
    max-width: 1600px;
    height: 341px;
    background-color: #222224;
    display: flex;

    margin-top: 110px;
    margin-bottom: 0;
}

.conteiner-baner-black {
    width: 1088px;
    display: flex;
    justify-content: space-between;
    ;
}

.blok-info {
    display: flex;
    flex-direction: column;
    width: 309px;
    margin-top: 89px;
}

.img-baner-black {
    width: 45px;
    height: 32px;
    margin-left: 130px;
}

.blok-info h1 {
    color: #fbfbfb;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;

}

.blok-info p {
    color: #fbfbfb;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 23.95px;
    text-align: center;
}

.form-check-chekout {
    display: flex;
}

.forms-check-input {
    width: 14px;
    height: 14px;
    border: 2px solid #555555;
    background-color: #ffffff;
    color: #000000;
}

.form-check-label {
    color: #222222;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;

}